
.day{ 
	text-transform:capitalize;
	font-weight: bolder;
	margin: 0px;
	font-size: larger;
}
.col-1, .col-2{
	text-align: center;
}

.timing{
	background-color: antiquewhite;
	border-radius: 15%;
	width:20%;
	height: 10%;
	margin: 2% auto;
	font-size: 80%;
	vertical-align: middle;
	text-align: center;
}

.stiming{
	height: 42%;
	width: 100%;	
	font-size: 80%;
}

.sbtn{
	height: 42%;
	width: 100%;	
	font-size: 80%;
}

.row{
	padding: 0.5% 0%;
}

.btn-sm{
	background-color: lightgray;
	padding: 0% 1%;
	font-size: 12px;
	border-radius: 15%;
	width : 70%;
	margin: 0% auto;
	border: 1px solid black;
	vertical-align: middle;
}

.btn-del, .btn-shp{
	height: 30%;
	margin: 10% auto;
}


.s_d{
	width:10%;
	border-radius: 50%;
}